*{
    box-sizing: border-box;
}
.sky{
    border: 10px solid;
    border-color: white green white orange;
    height: 95vh;
    background-image: url(./sky.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    position: absolute;
    font-weight: bold;
    top: -16px;
    width: 100%;
}
.firstword {
    background-color: orange;

}
.secondword p{
    background-color: white;
}
.thirdword{
    background-color: green;
}

.firstword{
    background-color: orange;
}
.secondword{
    background-color: white;
}
.thirdword{
    background-color: green;
}.road{
    width: 500%;
    height: 205px;
    background-image: url(./road.jpg);
    position: absolute;
    bottom: 0;
    animation: MovingObject 4s linear infinite;
}
@keyframes MovingObject {
    100% {
        transform: translate(-3000px);
    }

}
.city{
    width: 500%;
    height: 200px;
    background-image: url(./city.png);
    position: absolute;
    bottom: 205px;
    animation: MovingObject 20s linear infinite;
}
.car{
    width: 400px;
    position: absolute;
    bottom: 115px;
    left: 516px;
}
.wheel{
    width: 70px;
    position: absolute;
    bottom: 120px;
    animation: RotationObject 1.5s linear infinite;
}
.left{
    left: 552.5px;
}
.right{
    left: 797.5px;
}
@keyframes RotationObject {
    100% {
        transform: rotate(360deg);
    }

}
.flag{
    z-index: 100;
    height: 90px;
    position: absolute;
    bottom: 205px;
    left: 800px;
}
.sun{
    width: 90px;
    position: absolute;
    top: 50px;
    left: 90%;
    animation: SunMovement 180s linear infinite;
}
@keyframes SunMovement {
    100% {
        transform: translate(-1200px);
    }

}